.c9revisions
.idea
node_modules
npm-debug.log
*.swp
.DS_Store
Procfile

# Assets
public/components/*

!public/components/angular
public/components/angular/*
!public/components/angular/angular.min.js

!public/components/angular-resource
public/components/angular-resource/*
public/components/angular-resource/angular-resource.min.js

!public/components/bootstrap/dist/js
public/components/bootstrap/dist/js/*
!public/components/bootstrap/dist/js/bootstrap.min.js

!public/components/bootstrap/dist/css
public/components/bootstrap/dist/css/*
!public/components/bootstrap/dist/css/bootstrap.min.js

!public/components/jquery
public/components/jquery/*
!public/components/jquery/jquery.min.js

!public/components/typeahead.js/dist
public/components/typeahead.js/dist*
!public/components/typeahead.js/dist/typeahead.min.js
