extends layout
block viewVars
    - var title = 'Sign In'

block body
    .container
        form.form-signin(method='POST', style='max-width: 300px;')
            h2.form-signin-heading Sign In
            - if ('undefined' !== typeof errors && errors.length)
                .form-group#form-login-errors
                    - each error in errors
                        span.label.label-danger.small-font= error
                        br
            .form-group
                input.form-control(type='text', name='username', placeholder='Username')
            .form-group
                input.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-large.btn-primary(type='submit') Sign In